*{
    padding: 0;
    margin: 0;
}
header {
    height: 100px;
    width: 100%;
    background-color: lightgray;
}
header .mainhead {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
header .logo {
    flex: 1;
    line-height: 100px;
}
header .logo img {
    height: 100px;
    width: 300px;
}
header .search {
    flex: 1;
}
header .search input {
    border: none;
    border-radius: 15px;
    line-height: 25px;
    padding: 5px 20px 5px 10px; 
    margin-top: -7px;
}
header .search input:hover {
    border: none;
}
header .search button {
    margin-left: -35px;
    line-height: 25px;
    border: none;
    height: 35px;
    width: 35px;
    border-radius: 20px;
    padding: 5px 5px 5px 5px;
}
header .search button i {
    color: black;
}

header .inform {
    flex: 1;
    
    line-height: 100px;
}
header .inform button {
    height: 30px;
    width: 30px;
    float: right;
    margin-right: 50px;
}
