*{
    margin: 0;
    padding: 0;
}
h2 {
    padding-left: 10px;
    background-color: darkgray;
    height: 50px;
    line-height: 50px;
    padding: 5px;

}
.box {
    display: inline-block;
    padding: 5px;
    margin: 5px;
    justify-content: space-around;
}