
body {
    font-family: Arial, sans-serif;
}

.header, .footer, .sidebar {
    margin-bottom: 15px;
}

header {
    margin-bottom: 10px;
}
.sidebar{
    height: 100%;
    display: flex;
    flex-direction: column;
}
.h5 {
    width: 100%;
}
.list-group {
    flex: 1;
}
.sidebar h2 {
    font-size: 20px;
    margin-bottom: 15px;
    font-weight: bold;
    text-transform: uppercase;
    color: #333;
}

.sidebar .list-group-item {
    border: none;
    padding: 10px 15px;
    transition: all 0.3s ease;
}

.sidebar .list-group-item:hover {
    background-color: #f8f9fa;
    color: #007bff;
}

.sidebar .list-group-item.active {
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
}

.sidebar .list-group-item:not(:last-child) {
    border-bottom: 1px solid #dee2e6;
}


/* .carousel-inner {
    height: 200px;
}

.carousel-inner img {
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.products-section h2 {
    margin-bottom: 20px;
}

.product img {
    height: 250px;
    object-fit: cover;
}

.product {
    transition: transform 0.3s, box-shadow 0.3s;
}

.product:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
} */

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 10px 0;
}
.add {
    margin-top: auto;
}
.address p { 
    margin-bottom: 10px; 
    font-size: 14px; 
    color: #333; 
}